{% extends "home_base.html" %}
{% block content %}
<div class="container" style="background-color:#EEE">
	<div class="row">
		<div class="col-md-12">
			<h1 style="margin-top:300px;">4 0 4</h1>
			<h1>NOT FOUND</h1>
			<div class="col-md-12" style="background-image:url(http://7xlen8.com1.z0.glb.clouddn.com/404.jpg)"></div>
			<button class="button button-3d button-primary button-rounded"><span class=" glyphicon glyphicon-log-out" aria-hidden="true"></span>回主页</button>
		</div>
	</div>
</div>
{% endblock %}