{% extends "home_base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="site-wrapper area">

      <div class="site-wrapper-inner area"  style="background-image:url({% static 'pic/back.jpg' %})">

        <div class="cover-container">

 <!--         <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><strong>ZDXS</strong></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Summury</a></li>
                  <li><a href="#">About us</a></li>
                </ul>
              </nav>
            </div>
          </div>
-->
          <div class="inner" style="color:white">
            <h1 class="cover-heading">歡迎來到扎堆學社</h1>
            <p class="lead">we are the GPA helper!</p>
            <p class="lead">
              
              <a href="/howtojoin"><button class="button button-rounded button-plain button-small-caps button-border button-large">加入我們</button><a>
              
              <a href="/about"><button class="button button-rounded button-plain button-small-caps button-border button-large">瞭解更多</button></a>
            </p>
            </p>
          </div>

          

        </div>

      </div>
      
    </div>
    <section class="spe" style="padding:18px 0px 18px;background:#CCC2C2;color:#B46969">
    <a name="introduction"></a>
      <div class="container">
        <div class="spe">
        <strong>快來加入我們吧</strong>
        </div>
      </div>
      </a>
    </section>
     <div class="jumbotron" style="margin-bottom:0px;">

    <div class="row unibac">
    
    <section class="sheet shett-grey" >
        <div class="container bottonBigger"  >
          <h2 >簡介</h2>
          <div class="col-md-6">
            <p class="intro" style="color:#8A7474">这个组织在哪里？只要我们的人聚在一起，扎起堆来，你就能找到它。这就是“扎堆学社”，一个专注于学术的自由组织，一个出身草根却造就精英的组织，一个实实在在奉献学生的组织。不要问我们能走多远，敢问路在何方，路在脚下！</p>
          </div>
        
        <div class="col-md-6">
          <p class="intro" style="color:#8A7474">资源来自于优秀的学生。他们有的学习成绩力拔头筹，有的学生工作独当一面，有的更是身怀绝技，卓尔不群。资源来自于四面八方的支持。有身为国家奖学金获得者的学长学姐为我们指引航向，有出色的老师和多位辅导员帮我们献计献策。资源更来自于优秀的组织建制。这个平台出身草根，组织自由，人人平等，没有过多的管制束缚，每次活动都确保让大家确有收获，不虚此行。</p>
        </div>
      </div>
      </div>
    </div>  
   </section>

   <section>
     <div class="row" style="background-color:#FAFAFA;padding:70px 0px 100px;">
      <h1>在这里一直发生的故事</h1>
      <hr class="bar">
      <br>
       <div class="container">
         <div class="col-md-6">
           
             <div class="col-md-4">
               <img src="{% static 'pic/discovery.png' %}" style="height:111px;width:111px;">
             </div>
             <div class="col-md-8">
               <h3>探索</h3>
               <p>这里定期都会开展沙龙，探讨大学生时代最时髦最有趣的话题，若你是一个肯思考的少年，这里肯定适合你</p>
             </div>
           
         </div>
         <div class="col-md-6">
          <div class="col-md-4">
            <img src="{% static 'pic/engineering.png' %}" style="height:111px;width:111px;">
          </div>
          <div class="col-md-8">
            <h3>考质</h3>
            <p>化工大学是一所理工类大学，我们研究大自然的奥秘，我们通过发现的规律与定律创造着我们的文明，所以这一切需要志趣相投的伙伴一起探究</p>
          </div>
         </div>
         <div class="col-md-6">
           <div class="col-md-4">
             <img src="{% static 'pic/planning.png' %}" style="height:111px;width:111px;">
           </div>
           <div class="col-md-8">
             <h3>策划</h3>
             <p>扎堆学社会定期的举办各式各样针对大学生群体的活动，需要你来策划，如果你已经在学海中感到枯燥，不妨来坐下学生工作吧</p>
           </div>
         </div>
         <div class="col-md-6">
           <div class="col-md-4">
             <img src="{% static 'pic/growth.png' %}" style="height:111px;width:111px;">
           </div>
           <div class="col-md-8">
             <h3>成长</h3>
             <p>这里，有学神和你一起学习，有科研达人和你一起做实验，有竞赛高手和你一起向难题发起挑战，有书虫和你探讨心得，有思考家和你迷思社会，有梦想家给你动力</p>
           </div>
         </div>
       </div>
     </div>
   </section>
   
<section>

       <div class="row" style="background-image:url({% static 'pic/barback.jpg' %});padding:50px 0px;background-size:cover">
       <div class="container" style="color:#E6D9D9">
         <div class="col-md-4">
           <img src="{% static 'pic/founder.jpg' %}" alt="..." class="img-circle" style="height:200px;width:200px;padding:5px;border:2px solid #FFF">

           
         </div>
         <div class="col-md-8" style="padding-top:30px">
           <h2>我们的宗旨:<strong>但行好事，勿问前程</strong>。</h2>
           <p>扎堆学社是北京化工大学的一个自发性质的学生互助组织，致力于引领北化学风建设，帮助大家提高。</p>
           <p class="text-right" style="padding-top:60px;"><em>-----学社创始人<strong>鲍天宇</strong></em></p>
         </div>
       </div>
       </div>

   <section style="padding: 30px 0 98px;background-color: #EEE;">
    <div class="container" style="backgroud:#EEE">
    <div class="row"  style="color:#754A4A;">
      <h2 class="bottonBigger">下設分組</h2>
      <hr>
        <div class="container">
      <div class="col-md-3  col-list">
        <h2>資料組</h2>
        <hr class="bar">
        <p style="padding-bottom:20px;">资料组会不定期面向全校发放社内学霸成员整理的各科纸质资料，并在官网上附上电子版。学社内部还会定期举办各种组如数学角，物理角等学科角及沙龙活动</p>
        <a href="/about/#data_team" ><button class="button button-primary button-rounded button-small">了解更多<span class="glyphicon glyphicon-search" ara-hidden="true"><span></button></a>
      </div>
      
      <div class="col-md-3  col-list">
        <h2>授課組</h2>
        <hr class="bar">
        <p style="padding-bottom:20px;">授课组秉承“人才不一定具备口才,但有口才的人必定是人才”的原则，致力于建立一个稳固的平台，以达到共同进步的目的。我们的工作内容主要是对内进行口才培训和组织交流学习，</p>
        <a href="/about/#teaching_team" ><button class="button button-primary button-rounded button-small">了解更多<span class="glyphicon glyphicon-search" ara-hidden="true"><span></button></a>
      </div>
       
      <div class="col-md-3  col-list">
        <h2>宣傳組</h2>
        <hr class="bar">
        <p style="padding-bottom:20px;">宣传组主要负责推广扎堆学社的活动和相关通知，制作学社的宣传海报、传单，增强扎堆学社在师生中的影响力。并维护学社的宣传平台，如微信平台、百度贴吧等。</p>
        <a href="about/#publicize_team"><button class="button button-primary button-rounded button-small">了解更多<span class="glyphicon glyphicon-search" ara-hidden="true"><span></button></a>
      </div>
     
      <div class="col-md-3  col-list">
        <h2>外联组</h2>
        <hr class="bar">
        <p style="padding-bottom:20px;">作为学社与外界沟通的桥梁，外联组主要负责与其他学生组织社团以及商家的联系。无论是校内组织的接洽，校外讲座的承办，还是一部分学社资金的筹集，都活跃着外联组员的身影。</p>
        <a href="/about/#diplomacy_team"><button class="button button-primary button-rounded button-small">了解更多<span class="glyphicon glyphicon-search" ara-hidden="true"><span></button></a>
      </div>
      </div>
      <div class="container" style="padding-top:50px;">
      <div class="col-md-offset-3 col-md-3  col-list">
        <h2>英语角</h2>
        <hr class="bar">
        <p style="padding-bottom:20px;">英语角是扎堆学社目前唯一对社外同学开放的学术活动角，英语角以英语派对游戏为主要活动形式，活动过程中全英文交流。</p>
        <a href="/about#english_corner"><button class="button button-primary button-rounded button-small">了解更多<span class="glyphicon glyphicon-search" ara-hidden="true"><span></button></a>
      </div>
      <div class="col-md-3 col-list">
        <h2>策划组</h2>
        <hr class="bar">
        <p style="padding-bottom:20px;">策划组是扎堆学社的中枢，首先是为扎堆学社的活动写出大致策划，以便活动有序开展。其次，策划组是沟通扎堆学社各组见的桥梁。当然，我们也是每一次扎堆聚餐。活动的策划组。</p>
        <a href="/about/#scheme_team"><button class="button button-primary button-rounded button-small">了解更多<span class="glyphicon glyphicon-search" ara-hidden="true"><span></button></a>
      </div>
      </div>
    </div>
    </div>
    </section>
    
{% endblock %}