{% extends "blog_base.html" %}
{% load markdown_deux_tags %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
{% load duoshuo_tags %}
{{ form.non_field_errors }}
<div class="row bigger" style="background:#3D85A1">
    <div class="container" >
      <div class="pas text-left " >
      <div id="passages">
        <h2>{{ post.title | upper }}</h2>
        <h1><small><span class="glyphicon glyphicon-user" aria-hidden="true"</span>作者:<a href="/user/{{ post.editor.id }}">{{ post.editor.username }}</a></small><span style="margin-left:50px;font-size:20px;" class="text-right"><span class="glyphicon  glyphicon-calendar" aria-hidden="true">更新于{{ post.data_time|timesince }}以前</span></h1>
        <span class="label label-primary"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span>浏览:{{ post.counts }}</span>
        {% if user.is_authenticated %}
        {% ifequal user post.editor %}
        <a href="/blog/edit/{{ post.id }}"><span class="label label-info">修改!</span></a>
        {% endifequal %}
        {% endif %}
        <p>{{ post.body | markdown:"STYLE" }} </p>
      </div>
      <br>
      <br>
<!-- bdshare代码
-->

      <div class="bshare-custom">
      <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a>
      <a title="分享到QQ空间" class="bshare-qzone">QQ空间</a>
      <a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a>
      <a title="分享到人人网" class="bshare-renren">人人网</a>
      <a title="分享到腾讯微博" class="bshare-qqmb">腾讯微博</a>
      <a title="分享到网易微博" class="bshare-neteasemb">网易微博</a>
      <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
      <span class="BSHARE_COUNT bshare-share-count">0</span>
      </div>
      
      <br>
      <br>
      <br>

      <div style="border-bottom:1px solid #A1B0C2;"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10">
          <div style="padding-top:30px;">
             {% duoshuo_comments %}
          </div>
           
          </div>
        </div>
          
      </div>


      </div>
       
    </div>
    </div>
	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>

    {% endblock %}
